.header1 {
    font-family: "Courier New";
    font-size:60px;
    color:#40e7df;
    text-align:center;
    
    
}

.header2 {
    font-family: "Verdana";
    font-size:30px;
    color:#000000;
    text-align:center;
}

.instructions-header {
    font-family: "Verdana";
    font-size : 22px;
    color : #000000;
    text-align : center;
}


.instructions-title {
    font-family:   "Courier New";
    font-size : 36px;
    color : #40e7df;
    text-align: center;

}


.hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}



/*the main container*/
.flex_container {
    display:flex;
    flex-direction:row;
}

/*chord difficulty column*/
.sidebar_left {
    flex: 20%;
    padding-left: 25px;
}

/*the text shown above the different difficulties*/
.difficulty_question {
    padding-top:25px;
    font-family: "Verdana";
    font-size:20px;
    color:#40e7df;
    
}

/*different difficulties*/
.difficulty {
    font-family: "Courier New";
    font-size:25px;
    padding:20px;
}

/*Main column for gameplay*/
.play {
    flex: 80%;
}

img {
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 25px;
}
